*{
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

body{
    height: 100vh;
    background-color: #2B807B;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.centrar-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contenedor{
    height: 220px;
    width: 550px;
    background-color: white;
    border: 5px solid black;
    flex-direction: column;
    padding: 2rem;
}
#color{
    font-size: 70px;
    font-weight: bold;
}
button{
    font-size: 30px;
    color: white;
    background-color: #008CBA;
    margin: 5px;
    padding: 10px 30px;
    border: 3px sold #008CBA;
    user-select: none;
    transition-duration: 0.4s;
    border-radius: 20px;
    cursor: pointer;
}

#boton-copiar{
    background-color: #5e5e5e;
}
#boton-copiar:hover{
    background-color: #393939;
}
button:hover{
    background-color: #0b4558;
}